.sign-in-form{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-bottom: 40px;
    .input-boxes-container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction:column;
    }
    .buttons-container{
        margin-top: 20px;
        
        .sign-in-btn{
            background: red;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 30px;
            &:hover {
                background-color: #2980b9;
            }
        }
        .google-btn{
            background-color:#50C7C7;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            &:hover {
                background-color:#568203;
            }
        }

    }
}
